<% layout("common/common_layout") %>
<% head = '<link rel="stylesheet" href="" />' %>
<div class="mv">
  <div class="mv__titleArea">
    <h2 class="mv__title">
      <span class="bgextend bgLRextendTrigger">
        <span class="bgappearTrigger">
          <span class="mv__text-bg-color">Nex<span>X</span> Academy</span>
        </span>
      </span>
      <br>
    </h2>
    <div class="mv__subtitle">
      <span class="mv__text-bg-color">業界最安のプログラミングコーチングサービス</span>
    </div>
    <div class="mv__btn">
      <a href="/inquiry/i" class="btn">無料相談を受ける</a>
    </div>
  </div>
  <div class="mv__img"></div>
</div>


<section class="intro">
  <h4 class="intro__subtitle">プログラミングで可能性を広げよう</h4>
  <div class="intro__text">
    今の時代、小学生でも当たり前のようにプログラミングをしている。
    2025年度からの大学入学共通テストから「情報」が導入され、某大手学習塾の集計によると、国立大学の一般選抜の募集区分のうち96％で「情報Ⅰ」を必須とするらしい。
    このように、学生は少しずつ情報科目に力を入れてきているが、現時点で学生を終了し社会に出ている私たち大人には、自ら学ぶ以外に道はない。
    なのでNexX Academyでは、一般的なスキルになりつつあるITスキルの1つである、「プログラミング」のコーチングサービスを業界最安値で提供します。
    今すぐプログラミングを学んで「学生に負けないIT人材」になろう。</div>
</section>


<section class="about section">
  <div class="about__body">
    <div class="about-list">
      <div class="about-box">
        <figure class="about-box__img-wrapper">
          <img class="about-box__img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1724335703/luke-peters-B6JINerWMz0-unsplash_dvys8q.jpg" alt="プログラミングの様子">
        </figure>
        <div class="about-box__desc fadeUpEffect">
          <div class="about-box__subtitle">Coding</div>
          <h2 class="about-box__title">HTML/CSS、JavaScriptで、<br>フルスタック開発ができるようになる！</h2>
          <div class="about-box__text">
            <p>
              HTML/CSS、JavaScriptはWEB開発において、必須のスキルです。<br>JavaScriptはNode.jsを使用することでバックエンド開発もできます。<br>なので、この3つをマスターするだけでフルスタック開発をすることができるようになります。<br>※NexX AcademyではデータベースにMongoDBを使用します。
            </p>
          </div>
        </div>
      </div>
      <div class="about-box about-box--reverse">
        <figure class="about-box__img-wrapper">
          <img class="about-box__img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1724335799/shamin-haky-RIk-i9rXPao-unsplash_jztxzi.jpg" alt="グループワーク">
        </figure>
        <div class="about-box__desc fadeUpEffect">
          <div class="about-box__subtitle about-box__subtitle--food">Work</div>
          <h2 class="about-box__title"><br>学習は1人じゃない！</h2>
          <div class="about-box__text">
            <p>
              よしやるぞ！と意気込んでも、プログラミングは難しいので、モチベーションの維持って大変ですよね......。でも大丈夫！NexX Academyでは「Nework」というオンラインワークスペースを活用しています。
              同じ志を持つ駆け出しプログラマーたちと一緒に、24時間、いつでも作業ができます！もちろん、スペースにはメンターも入っています！
            </p>
          </div>
        </div>
      </div>
      <div class="about-box">
        <figure class="about-box__img-wrapper">
          <img class="about-box__img" src="https://res.cloudinary.com/dogup1dum/image/upload/v1724334847/laptop-2838918_1280_z3ggpb.jpg" alt="プログラミングの様子">
        </figure>
        <div class="about-box__desc fadeUpEffect">
          <div class="about-box__subtitle">Mentor</div>
          <h2 class="about-box__title">メンターは現役のWEBエンジニアなので、現場の知見も得られる！</h2>
          <div class="about-box__text">
            <p>
              現役のWEBエンジニアがメンターとしてマンツーマンでレッスンを行います。プログラミングだけじゃない、現場の知見もお伝えできます！またレッスン以外でもわからないところはメンターにメッセージで連絡し直接質問が可能です！
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about__btn">
    <a href="/inquiry/i" class="btn btn--center">無料相談を受ける</a>
  </div>
</section>


<section class="trainer section section--color-reverse">
</section>

<section class="price section section--color-reverse">

  <div class="section__inner">
    <div class="container">
      <div class="section__heading">
        <h2 class="heading-primary heading-primary--color-reverse">Price<span
            class="heading-primary__subtitle">料金</span></h2>
      </div>
      <div class="price__body">
        <div class="price-list">
          <div class="price-box">
            <h3 class="price-box__title">単発コース</h3>
            <div class="price-box__price">
              <p class="price-box__price-price"><span>¥</span>1,500</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">ペアプログラミング</h4>
              <p class="price-box__item-text">1時間 ✖️ 1回</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">コード添削</h4>
              <p class="price-box__item-text">24時間以内</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">キャリア相談</h4>
              <p class="price-box__item-text">なし</p>
            </div>
          </div>
          <div class="price-box">
            <div class="price-box__label">オススメ！</div>
            <h3 class="price-box__title">1ヶ月コース</h3>
            <div class="price-box__price">
              <p class="price-box__price-price"><span>¥</span>5,000</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">ペアプログラミング</h4>
              <p class="price-box__item-text">1時間 ✖️ 3回</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">コード添削</h4>
              <p class="price-box__item-text">24時間以内</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">キャリア相談</h4>
              <p class="price-box__item-text">30分 ✖️ 1回</p>
            </div>
          </div>
          <div class="price-box">
            <h3 class="price-box__title">3ヶ月</h3>
            <div class="price-box__price">
              <p class="price-box__price-price"><span>¥</span>12,000</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">ペアプログラミング</h4>
              <p class="price-box__item-text">1時間 ✖️ 10回</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">コード添削</h4>
              <p class="price-box__item-text">24時間以内</p>
            </div>
            <div class="price-box__item">
              <h4 class="price-box__item-title">キャリア相談</h4>
              <p class="price-box__item-text">30分 ✖️ 3回</p>
            </div>
          </div>
          <div class="price-list__scroll"><span
              class="price-list__scroll-icon material-icons-round">スクロール</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="faq section">
  <div class="container">
    <div class="section__heading">
      <h2 class="heading-primary">FAQ<span class="heading-primary__subtitle">よくあるご質問</span></h2>
    </div>
    <div class="faq__body">
      <dl class="accordion">
        <div class="accordion__item">
          <dt class="accordion__question accordion__question--first">
            <div class="accordion__question-inner">
              <span class="accordion__label">Q</span>
              <p class="accordion__text">
                無料相談ではどのようなことをしますか？
              </p>
            </div>
          </dt>
          <dd class="accordion__answer">
            <div class="accordion__answer-inner">
              <span class="accordion__label">A</span>
              <p class="accordion__text">無料カウンセリングでは「プログラミング学習の悩み相談」や「エンジニアになるまでのシミュレーション」を行うことができます。もちろんサービスに関するご質問も可能です。</p>
            </div>
          </dd>
        </div>
        <div class="accordion__item">
          <dt class="accordion__question">
            <div class="accordion__question-inner">
              <span class="accordion__label">Q</span>
              <p class="accordion__text">無料相談は本当にお金がかかりませんか？</p>
            </div>
          </dt>
          <dd class="accordion__answer">
            <div class="accordion__answer-inner">
              <span class="accordion__label">A</span>
              <p class="accordion__text">費用は一切かかりません。お気軽にご相談ください。</p>
            </div>
          </dd>
        </div>
        <div class="accordion__item">
          <dt class="accordion__question">
            <div class="accordion__question-inner">
              <span class="accordion__label">Q</span>
              <p class="accordion__text">無料相談はオンラインで受講可能でしょうか？</p>
            </div>
          </dt>
          <dd class="accordion__answer">
            <div class="accordion__answer-inner">
              <span class="accordion__label">A</span>
              <p class="accordion__text">無料相談はGoogle Meetを用いて完全オンラインで実施しております。無料相談お申し込み後にご案内のメールを差し上げますので、そちらに沿ってご参加ください。また、事前準備も必要ありません。</p>
            </div>
          </dd>
        </div>
        <div class="accordion__item">
          <dt class="accordion__question">
            <div class="accordion__question-inner">
              <span class="accordion__label">Q</span>
              <p class="accordion__text">どのような教材を使用しますか？</p>
            </div>
          </dt>
          <dd class="accordion__answer">
            <div class="accordion__answer-inner">
              <span class="accordion__label">A</span>
              <p class="accordion__text">基本的には、市販の参考書をご購入していただきますが、ご要望があればこちらでコーディング課題や記事を提供することも可能です。詳しくは無料相談にてお伝えさせていただきます。</p>
            </div>
          </dd>
        </div>
        <div class="accordion__item">
          <dt class="accordion__question">
            <div class="accordion__question-inner">
              <span class="accordion__label">Q</span>
              <p class="accordion__text">全くの未経験なのですが、どれくらいで自走できるようになりますか？</p>
            </div>
          </dt>
          <dd class="accordion__answer">
            <div class="accordion__answer-inner">
              <span class="accordion__label">A</span>
              <p class="accordion__text">日本の場合、ほとんどの企業が研修期間を3~6ヶ月間設けていますので、個人差はありますが、最短3ヶ月で自走できるようになっていると思います。</p>
            </div>
          </dd>
        </div>
        <div class="accordion__item">
          <dt class="accordion__question">
            <div class="accordion__question-inner">
              <span class="accordion__label">Q</span>
              <p class="accordion__text">学生ですが受講可能ですか？</p>
            </div>
          </dt>
          <dd class="accordion__answer">
            <div class="accordion__answer-inner">
              <span class="accordion__label">A</span>
              <p class="accordion__text">可能です。無料相談お待ちしております。</p>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>


<div class="cta">
  <div class="cta__img">
    <picture>
    </picture>
  </div>
  <div class="cta__body">
    <div class="cta__title">NexX Academy概要</div>
    <div class="site-summary">
      <div class="summary-head">​​~ プログラミングで可能性を広げよう ~</div>
      <p>「プログラミングに興味はあるが難しそうで１人だと挫折しそう」、「そもそも勉強方法がわからない」。</p><br>
      <p>そんな悩みを持った人たちのために「NexX Academy」を開設しました。</p><br>
      <p>ちなみに、NexXは「ネクサ」と発音します。"Next"（次の）と"X"（無限の可能性）を組み合わせた造語で、継続的な成長と未知の潜在能力を示唆しています。</p> <br>
      <p>NexX Academyをきっかけに、次なる時代のイノベーターが生まれることを願っています。</p>
    </div>
    <div class="cta__btn">
      <a class="btn btn--center btn--color-reverse" href="/inquiry/i">無料相談を受ける</a>
    </div>
  </div>
</div>

</div>