<% layout("common/common_layout") %>
<% head = '<link rel="stylesheet" href="/css/payment_success.css" />' %>

<div class="success">
  <section>
    <p>
      ご購入ありがとうございます！不明な点は taiga.hr12@gmail.com に連絡ください。
    </p>
    <button id="checkout-and-portal-button" type="submit">
      領収書の発行
    </button>
  </section>
</div>