<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='NexX Academy'>
  <meta property='og:url' content='https://www.nexx-academy.com'>
  <meta property='og:description' 
    content='NexX Academy はあなたの可能性を最大限に引き出すプログラミングコーチングサービスです。未知数の才能を持つあなたに、次のステージへの扉を開きます。現役のWEBエンジニアがメンターとして付き、個別指導からグループレッスンまで、あなたの目標に合わせたサポートを提供します。'>
  <meta property="og:image" content="">
  <meta property='og:description' 
    content='NexX Academy はあなたの可能性を最大限に引き出すプログラミングコーチングサービスです。未知数の才能を持つあなたに、次のステージへの扉を開きます。現役のWEBエンジニアがメンターとして付き、個別指導からグループレッスンまで、あなたの目標に合わせたサポートを提供します。'>
  <title>NexX Academy</title>
  <!-- Google font -->
  <script src="/js/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="/css/common_style.css">
  <link rel="stylesheet" href="/css/destyle.css">
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/dogup1dum/image/upload/v1724458750/Black_and_White_Minimalist_Calligraphy_Beauty_Nail_Logo_tdpk92.png">
  <link rel="apple-touch-icon" type="image/png" href="">
  <link rel="icon" href="https://res.cloudinary.com/dogup1dum/image/upload/v1724458750/Black_and_White_Minimalist_Calligraphy_Beauty_Nail_Logo_tdpk92.png">
  <%- head %>
</head>

<body>

  <div class="wrapper">

    <header class="header">
      <div class="header__logo">
        <a href="/">Nex<span>X</span> Academy</a>
      </div>
      <div class="header__cta">
        <a href="/inquiry/i" class="header__cta-btn btn">無料相談を受ける</a>
      </div>
    </header>

    <%- body %>

    <footer class="footer">
      <div class="footer-items">
        <span class="color_11 wixui-rich-text__text">Copyright © 2024 NexX Academy&nbsp;All rights reserved.</span>
        <!-- <a href="/legal/specific-commercial-transaction"><span class="color_11 wixui-rich-text__text">特定商取引法</span></a> -->
      </div>
    </footer>
    
    <div class="page-top">
      <a class="page-top__link"><span class="page-top__icon material-icons-round">⬆️</span>
      </a>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>